#container {
  position: relative;
  margin-left: 15%;
  margin-right: 15%;
  background-color: lightblue;
  min-height: 100%;
}

#head {
  min-height:45px;
  text-align: center;
  padding: 35px;
}

.screw {
  background-color: inherit;
  text-align: center;
  float: left;
  padding: 10px;
  height: 300px;
  width: 300px;
}

.screw img {
  height: 250px;
  width: 250px;
}
